@import "tailwindcss";
@config "../tailwind.config.ts";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #fabb18;
    border-radius: 8px;
  }
}
/* --- Override animate spin --- */
.slow-spin {
  animation: spin 3s linear infinite;
}

/* Ovveride MUI Styles */
.MuiMenu-list .item-menu:hover {
  background-color: rgb(251 191 36);
  border-bottom: 1px solid black;
}
.MuiMenu-list .item-menu {
  border-bottom: 1px solid rgb(251 191 36);
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 600;
}
.MuiMenu-list .item-menu:last-child {
  border-bottom: 0;
}

.app-content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 0 20px 0 20px;
  gap: 35px;
}

/* Global Styles for Modals */
.base-modal {
  .MuiDialog-paper {
    width: 100%;
    overflow-x: hidden;

    .MuiDialogContent-root {
      padding: 25px;
    }
  }
}
