.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fabb18;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
}

.headerLeft {
  flex: 0 0 auto;
}

.logo {
  width: 130px;
  height: 45px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.languageSwitcher {
  margin-right: 5px;
}

.themeToggle {
  max-width: 50px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.avatar {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menuProfile {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.menuAvatar {
  width: 60px !important;
  height: 60px !important;
}