/* src/app/components/Sidebar.module.css */
.sidebar {
  width: 240px;
  background-color: #ffffff;
  border-right: 2px solid #fabb18;
  transition: width 0.3s ease;
  position: relative;
  z-index: 10;
}

.sidebar.open {
  width: 240px;
}

.sidebar.closed {
  width: 60px;
}

.nav {
  padding: 20px 0;
}

.navLink {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  min-height: 48px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: padding 0.3s ease;

  &:hover {
    background-color: #fabb18;
    color: #fff;
  }

  &.navLinkActive {
    background-color: black;
    color: #fabb18;
  }
}


.navLinkCollapsed {
  padding: 12px;
  justify-content: center;
}

.navIcon {
  margin-right: 12px;
  display: flex;
}

.navText {
  white-space: nowrap;
}

.toggleButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: -36px;
  max-width: 35px;
  max-height: 55px;
  padding: 11px 3px;
  background-color: #fabb18;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggleButton:hover {
  background-color: #e0a800;
}